.background{
  -fx-background-image: url('../../image/backgound.jpg');
  -fx-background-size: 100% 100%;
 }
.romeIcon{
-fx-background-image: url('../../images/RomeIcon.png');
-fx-background-size: 100% 100%;
}
.gallicIcon{
  -fx-background-image: url('../../image/Gallic.png');
  -fx-background-size: 100% 100%;
}